@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 75, 123, 236;
  --background-end-rgb: 42, 245, 152;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: linear-gradient(
    to right,
    rgb(105, 173, 216),
    rgb(170, 205, 217),
    rgb(89, 131, 198)
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
